<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/home#hero">Home</a></li>
          <li><a href="/home#about">About</a></li>
          <li><a href="/home#donate">Donate</a></li>
          <li><a href="/home#contact">Contact Us</a></li>
          <li><a routerLink='/news'>In The News</a></li>

        </ul>
      </nav>
    </div>
  </header>
