<section id="contact">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Contact</h3>
      <p class="section-description">Mrs. Jennie Taylor, Brent’s wife/widow</p>
    </div>
  </div>

  <div class="container wow fadeInUp mt-5">
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-4">
        <div class="info">
          <i class="fa fa-envelope"></i>
          <p>2637 N Washington Blvd Box #272<br>North Ogden, UT 84414</p>
        </div>
        <div class="info">
          <div>
            <i class="fa fa-envelope"></i>
            <p>majorbrenttaylor@gmail.com</p>
          </div>

          <div class="info">
            <i class="fa fa-phone"></i>
            <p>801-628-3848</p>
          </div>
          <div class="info">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <p>
          <a href="https://www.instagram.com/jennieataylor/?hl=en">Instagram</a>
        </p>
        </div>

        <div class="info">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <p>
          <a href="https://www.facebook.com/jennie.a.taylor">Facebook</a>
        </p>
        </div>
        <div class="info">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <p>
          <a href="https://twitter.com/mrsbrenttaylor?">Twitter</a>
        </p>
        </div>

        </div>

      </div>
      </div>

    </div>

</section>
