<section id="competition">
    <div class="container justify-content-center">
    <img src="../../assets/imgs/UlogoHv1-1200px.png">
    <img src = "../../assets/imgs/BYU.PNG">
    <h1 class="display-3">VS.</h1>
    <p>Brigham Young University and the University of Utah will be competing in a rivalry week scholarship fundraising challenge to honor and perpetuate Brent’s legacy. </p>
    <p>Brent was an alumnus of both the University of Utah and BYU and scholarship endowments to fund the education of an undergraduate student at BYU and a master’s and doctoral candidate at the University of Utah each year in perpetuity have been established. To date, $88,000 of a needed $160,000 for the scholarship endowments has been raised.
    </p>
    <p>You can support your team, help provide scholarships for tomorrow’s leaders and honor Brent’s service and sacrifice by participating. Contributions to the Brent Taylor Memorial Scholarships can be made by clicking the “Donate” tab, through the University of Utah or BYU development offices or at any Zion’s Bank location.</p>
    </div>
    <div class="row" id="iframeContainer">
    <div id="UofU" class="col">
        <iframe class='gfm-media-widget' image='1' coinfo='0' height='100%' frameborder='0'
        id='major-brent-taylor-university-of-utah-scholarship'>
    </iframe>
    </div>
    <div id="byu" class="col">
    <iframe class='gfm-media-widget' image='1' coinfo='0'  height='100%' frameborder='0'
                    id='major-brent-taylor-byu-scholarship'
                     ></iframe>
                     </div>
                    </div>



    </section>
