<main id="main">
  <section id="about">
    <div class="container">
      <div class="row about-container justify-content-center">
        <h2 class="title">Our Mission: </h2>
<div id="wall-of-text">
          <h3 class="title">To Train and Encourage The Future of Our Nation</h3>

<p>Major Brent Taylor was killed in action on November 3, 2018 while serving in Afghanistan with the
United States Army. It is our goal, as his surviving wife and seven children, to establish a memorial
scholarship in Brent’s name at each of his collegiate alma maters--namely, Brigham Young University
and the University of Utah. Our fundraising goal for these scholarships is $160,000.
We are seeking donations from family and friends, local businesses and community organizations to help
us fully fund these accounts so that the scholarships become endowed--and able to be granted to future
students in perpetuity.</p>
<p>It is our desire, as a family, to carry on Brent's legacy of service, sacrifice and statesmanship in a way that
inspires future students to likewise focus on the same. Our cities, communities, state and nation need
more of the kind of service-leadership that Brent exemplified. There are many things Brent might have
gone on to do with his professional and public-service life, had he had more years of life on earth. Now
that he is no longer here to fulfill any such future roles of leadership, that torch must be passed on to the
next generation.</p>
<p>Once we have raised $160,000 the funds will be allocated as follows: $60,000 to BYU for one full-tuition
undergraduate scholarship each year, awarded in perpetuity; and $50,000 each for one master’s and one
doctoral candidate scholarship each year, awarded in perpetuity.
Please join us in our efforts—that the legacy of Major Brent Taylor is carried forward in a way that
motivates and inspires future leaders to see past their own individual lives while focusing on true service-
oriented leadership. Become a “Legacy Maker” today with a financial donation of any amount.</p>

<h3>About Major Taylor</h3>
<div id="brent-more-info">
<p id="read-more">
Major Brent Taylor was on his second term as the mayor of North Ogden when he took an unprecedented
year of absence to serve his fourth deployment in Afghanistan. In November of 2018, Major Taylor was
killed in an insider attack in Kabul. This made him the first sitting U.S. politician to be killed in action
since the Civil War. He is survived by his wife, Jennie Taylor, and seven children. To Brent, God, family
and country were everything and had become his mantra that steered his life.
</p>
</div>
</div>

<app-scroller *ngIf="moreInfoClicked===true"></app-scroller>
</div>
  <div id="button-container">
    <button id="more-button" (click)="displayMoreText()">{{moreInfoClicked ? 'Hide' : 'Read More'}}</button>
  </div>
</div>
</section>
<app-old-competition></app-old-competition>
