
.train{
    background-color: #b22234;
    color: white;
  }
.honor{
    background: #ffffff;
  }
.engage{
    background: #3c3b6e;
    color: white;
  }
.footer{
  text-align: center;
}
mat-grid-list {
  overflow: hidden;

}
    .mat-ink-bar{
      background-color:#3c3b6e;
}
