/* You can add global styles to this file, and also import other style files */
@import "./lib/bootstrap/css/bootstrap.min.css";
@import "./lib/font-awesome/css/font-awesome.min.css";
@import "./lib/animate/animate.min.css";
@import "./css/style.css";
@import "./css/style.scss";
@import './css/variables';
@import './css/header';
@import './css/general';
@import './css/nav';
@import './css/sections';
@import './css/footer';
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background:#3c3b6e;
}
